APP_NAME=Docan
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8080
PUBLIC_APP_URL=https://docan.suhail.my.id
APP_PORT=8080
APP_TIMEZONE=Asia/Jakarta

APP_KEY=

LOG_LEVEL=warning

# Gunakan SMTP gratis (mis. Gmail App Password) agar reset password terkirim.
MAIL_MAILER=log
MAIL_SCHEME=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Docan

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE=docan
DB_USERNAME=docan
DB_PASSWORD=change-this-password
DB_SSLMODE=disable

POSTGRES_VOLUME_NAME=docan_postgres_data

SEED_DATABASE=false
RUN_MIGRATIONS=true

APP_REPLICAS=2
QUEUE_REPLICAS=2
